<section>
  <form [formGroup]="form">
    <section class="section">
      <div formArrayName="topLevel">
        <div
          *ngFor="let top of topLevelFormArray.controls; let i = index"
          [formGroupName]="i"
          class="topLevel"
        >
          <mat-checkbox formControlName="checked" (change)="sendCheckedBoxes()">
            {{ top.value.name }}
          </mat-checkbox>

          <div formArrayName="secondLevel">
            <div
              *ngFor="
                let second of getSecondLevelArray(i).controls;
                let j = index
              "
              [formGroupName]="j"
            >
              <mat-checkbox
                style="padding-left:30px"
                formControlName="checked"
                (change)="sendCheckedBoxes()"
              >
                {{ second.value.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
